.webapp {
  text-align: center;
}

.webapp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.modal-container {
  height: 100vh;
  background-color: #3c3c3ca6;
  position: fixed;
  width: 100vw;
  z-index: 3;
  top:0;
  display: flex;
}


.modal {
  display: flex;
  margin: auto;
  height: 50vh;
  width: 50vw;
  border: 10px solid rgb(255, 255, 255);
  justify-content: center;
  flex-direction: column;
}

.error-modal {
  display: flex;
  margin: auto;
  height: 50vh;
  width: 50vw;
  border: 10px solid lime;
  justify-content: center;
  flex-direction: column;
  background-color: #ff000030;
}

.modal-input {
  font-size: 1em;
  color: rgb(60, 59, 59);
  text-align: center;
  margin: 1em;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  height: 40px;
  margin-bottom:50px;
}

#board {
  width: 94vh;
  height: 94vh;
  display: flex;
  margin: 15px;
  padding: 8px;
}

#playing-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid transparent;
  z-index: 2;
  background-color: goldenrod;
}

.topleft {
  background: url('img/edgesquare.png');
  background-size: contain;
  background-position: center;
}

.topright {
  background: url('img/edgesquare.png');
  background-size: contain;
  transform: rotate(90deg);
  background-position: center;
}

.bottomleft {
  background: url('img/edgesquare.png');
  background-size: contain;
  transform: rotate(270deg);
  background-position: center;
}

.bottomright {
  background: url('img/edgesquare.png');
  background-size: contain;
  transform: rotate(180deg);
  background-position: center;
}

.top {
  background: url('img/sidesquare.png');
  background-size: contain;
  background-position: center;
}

.bottom {
  background: url('img/sidesquare.png');
  background-size: contain;
  transform: rotate(180deg);
  background-position: center;
}

.left {
  background: url('img/sidesquare.png');
  background-size: contain;
  transform: rotate(270deg);
  background-position: center;
}

.right {
  background: url('img/sidesquare.png');
  background-size: contain;
  transform: rotate(90deg);
  background-position: center;
}

.mid {
  background: url('img/midsquare.png');
  background-size: contain;
  background-position: center;
}

.dot {
  background: url('img/dotsquare.png');
  background-size: contain;
  background-position: center;
}

.playing-square {
  width: 5.26%;
  height: 5.26%;
}

.stone {
  border-radius: 50%;
}

.b-unselected {
  background: black;
}

.w-unselected {
  background: white;
}

.b-selected {
  background: black;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: bpulse 2s infinite;
}

.w-selected {
  background: white;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: wpulse 2s infinite;
}

@keyframes lpulse {
  0% {

    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0)
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

@keyframes bpulse {
  0% {
    
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes wpulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.button {
  width: 90%;
    aspect-ratio: 3/1;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff38;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
}

.button-disabled {
    background-color: #ffffff18;
    cursor: default;
}

.content-container {
  display: block;
}

.buttons-and-cup {
  display: flex;
}

.button-container {
  display: flex;
}

/* big/normal screen */
@media (min-width: 1025px) { 
  .content-container{
    display: flex;
  }
  .buttons-and-cup {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .button-container {
    display: block;
  }

  .button {
    width: inherit;
  }
  .empty {
    flex-basis: 50%;
  }

}

.stonecup {
  background-color: #dba520;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  aspect-ratio: 1/.5;
}

.switchable {
  cursor: pointer;
  box-shadow: 0 0 0 0 rgb(0, 255, 0);
  animation: wpulse 2s infinite;
}

.w-stonesincup {
  width: 90%;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  height: 90%;
  background-image: url(whitestones.png);
}

.b-stonesincup {
  width: 90%;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  height: 90%;
  background-image: url(bstone.png);
}

.empty  {
  width: 50%;
}

.board-notmyturn {
  background-color: transparent;
}

.board-myturn {
  background-color: lime;
}

:root {
  --radio-color: lime;
}

.radio {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.submit-btn {
    font-family: system-ui, sans-serif;
      font-size: 1em;
      font-weight: bold;
      background-color: lime;
      line-height: 1.1;
      color: rgb(58, 58, 58);
      height: 40px;
      width: 275px;
      border: none;
      border-radius: 3px;
      margin: 50px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
    font: inherit;
    color: currentColor;
    width: 2.15em;
    height: 2.15em;
    border-radius: 50%;
      display: grid;
        place-content: center;
}

input[id="black-radio"] {
  border: 0.15em solid white;
  background-color: black;
}
input[id="white-radio"] {
  border: 0.15em solid black;
  background-color: white;
}

input[type="radio"]::before {
  content: "";
  width: 2.15em;
  height: 2.15em;
  border-radius: 50%;
  transform: scale(0);
  border: 0.15em solid lime;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio + .radio {
  margin-left: 2em;
  padding-right: 2em;
}