.webapp {
  text-align: center;
}

.webapp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#board-container {
  width: 94vh;
  height: 94vh;
  display: flex;
  background-color: rgb(255, 196, 0);
}

#playing-area {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid transparent;
  z-index: 2;
}

.playing-square {
  width: 4.76%;
  height: 4.76%;
  margin: auto;
  background-color: transparent;
  border: 2px solid red;
  z-index: 5;
}

.b {
  background-color: black;
  border-radius: 50%;

}

.w {
  background-color: white;
  border-radius: 50%;
}

.visible-square {
  height: 105%;
    width: 105%;
    border: 2px solid rgb(196, 125, 2);
    margin: -64%;
    z-index: -1;
}