.webapp {
  text-align: center;
}

.webapp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#board-container {
  width: 94vh;
  height: 94vh;
  display: flex;
  background-color: rgb(255, 196, 0);
}

#playing-area {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid transparent;
  z-index: 2;
}

.playing-square {
  width: 4.76%;
  height: 4.76%;
  margin: auto;
  background-color: transparent;
  border: 2px solid transparent;
  z-index: 2;
}

.board-square {
  width: 5%;
  height: 5%;
  margin: auto;
  padding: 2px;
  /* for now: */
  background-color: transparent; 
}

.visible-square {
  height: 105%;
    width: 105%;
    position: relative;
    border: 2px solid rgb(196, 125, 2);
    margin: -64%;
}